@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Merriweather|Roboto|Roboto+Slab&display=swap');
h1,h2,h3,h4,p{
    overflow-wrap: break-word;
}
.titulo{
    font-weight: 700;
    font-size: 3.5rem;
}
.titulo-seccion{
    font-weight: 400;
    font-size: 3rem;
}