.navbar_css{
    padding: .15rem .1rem;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.div_navigation{
    display: flex;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
.css_link_img{
    margin-right: 0.75rem;
    width: auto;
    overflow: visible;
    align-items: center;
    display: flex;
    text-decoration: none;
}
@media (max-width: 750px) {
    .css_link_img {
        flex-grow: 1;
        flex-shrink: 1;
    }
}
.css_logo{
    height: 2rem;
    width: auto;
    max-width: none;
    margin: 0rem;
}
.nav_navigation{
    display: none;
}
@media (min-width: 750px) {
    .nav_navigation {
        align-self: flex-end;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.css_list{
    align-self: flex-end;
    display: flex;
    list-style: none;
    margin: 0;
    overflow: auto;
    display: flex;
}
.css_nav_item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.css_nav_item_a{
    border-bottom: 2px solid transparent;
    display: block;
    font-size: 3;
    position: relative;
    text-decoration: none;
    line-height: calc(3.6rem);
}
.css_icons{
    display: flex;
    box-sizing: inherit;
    line-height: calc(3.6rem);
}
.css_icon{
    align-self: flex-end;
    display: block;
    position: relative;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.25rem;
}